<p id="notice"><%= notice %></p>

<h1>Blogs</h1>
<div align="center">
  <%= will_paginate @blogs %>
</div>
<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Shortdesc</th>
      <th>Longdesc</th>
      <th>Status</th>
      <th>Date</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><img src="<%= blog.image.url %>" width="100" height="100"/></td>
        <td><%= blog.title %></td>
        <td><%= blog.shortdesc %></td>
        <td><%= blog.longdesc %></td>
        <td><%= blog.status %></td>
        <td><%= blog.date %></td>
        <td><%= blog.slug %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
