<!DOCTYPE html>
<html>
  <head>
    <title>Kolte</title>
    <%= csrf_meta_tags %>

    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% console %>
  <body style="background-color: #ccc;">
  <ul>
  	<li><%= link_to 'Blogs', blogs_path %></li>
  	<li><%= link_to 'Contacts', contacts_path %></li>
    <li><%= link_to 'Articles', articles_path %></li>
  </ul>
    <%= yield %>
  </body>
</html>
